<div class="comment well">
  <div class='gravatar' style="float:left;margin: 0 20px 10px 0;"><%= image_tag comment.gravatar_url %></div>
  <div class='details'>
    <p class='author muted'><%= comment.name %> wrote <%= time_ago_in_words(comment.created_at) %> ago</p>
    <p class='body'><%= auto_link(comment.body) %></p>
    <% if show_comment_edit_links?(comment) %>
      <div><%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %></div>
    <% end %>
  </div>
</div>
