- javascript 'form_submit_button'
.new_comment
  - form_for [article, comment], :html => {:class => 'form'} do |f|
    = f.error_messages
    %div
      = f.label :name
      %br
      = f.text_field :name
    %div
      = f.label :email, 'Email (not published)'
      %br
      = f.text_field :email
    %div
      = f.label :body
      %br
      = f.text_area :body
    - if comment.new_record?
      %div
        = f.label :challenge, 'What is two plus two (as a number)?'
        %br
        = f.text_field :challenge
    %div
      = f.submit "Save comment", :id => 'form_submit_button'