.new_comment
  - form_for [article, comment] do |f|
    = f.error_messages
    %p
      = f.label :name
      %br
      = f.text_field :name
    %p
      = f.label :email
      %br
      = f.text_field :email
    %p
      = f.label :body
      %br
      = f.text_area :body
    - if comment.new_record?
      %p
        = f.label :challenge, 'What is two plus two (as a number)?'
        %br
        = f.text_field :challenge
    %p
      = f.submit "Submit"