<div class='articles_form'>
  <% form_for @article, :html => {:class => 'form'} do |f| %>
    <%= f.error_messages %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :body %>
      <span><%= "Markdown or HTML is ok." %></span>
      <%= f.text_area :body, :class => 'big' %>

      <%= f.label :published %>
      <%= f.check_box :published %>

      <%= f.label :published_on %>
      <%= f.date_select :published_on %>
    
    <% if Tag.all.empty? %>
      <%= "No tags yet. Create one after saving this article." %>
    <% else %>
      <h4><%= "Tags" %></h4>
      <ul class='tags'>
        <% for tag in Tag.all %>
          <li>
            <%= tag.name %>
            <%= check_box_tag 'article[tag_list][]', tag.name, @article.tag_list.include?(tag.name), :id => "check_tag_#{tag.id}" %>
          </li>
        <% end %>
      </ul>
    <% end %>
    
    <%= f.submit "Submit" %>
    <%= link_to "Cancel", @article, :class => 'cancel' %>
      
    <% end %>
</div>
