<% stylesheet 'pagination' %>
<% title t(:articles) %>

<% @article = @articles.first %>
<% if @article.present? %>
  <div class="jumbotron">
    <h1><%= @article.title %></h1>
    <p class="muted">Published: <%= time_ago_in_words(@article.published_on) %> ago &mdash; Tagged: <%= @article.tag_list %> <%= comments_link_for_article(@article) %></p>
    <p class="lead"><%= truncate(strip_tags(@article.body.to_html), :length => 300) %></p>
    <a class="btn btn-large btn-primary" href="<%= article_path(@article) %>">Read article »</a>
  </div>
  
  <hr/>
<% end %>

<% if @articles.present? && @articles.length > 1 %>
  <div class="row-fluid">
    <% @articles[1..@articles.length].each do |article| %>
      <div class="span12 article">
        <h2 class="article-title"><%= article.title %></h2>
        <p class="muted">Published: <%= time_ago_in_words(@article.published_on) %> ago &mdash; Tagged: <%= @article.tag_list %> <%= comments_link_for_article(article) %></p>
        <div><%= truncate(strip_tags(article.body.to_html), :length => 300) %></div>
        <div class="control-group button">
          <a class="btn btn-default" href="<%= article_path(article) %>">Read article »</a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pagination pagination-centered">
    <%= paginate @articles %>
  </div>
<% end %>
