- stylesheet 'pagination'
- title t(:articles), false

.index
  - @articles.each do |article|
    %div{:class => "article #{'first' if @articles.first == article}"}
      %h1= link_to h(article.title), article
      .meta= article_metadata(article)
      - if @articles.first == article
        .body= truncate(article.body.to_html, :length => 300)
      - else
        .description= h(article.description)
      .read_more= link_to "Read article &rarr;", article

- content_for :pagination_controls do
  = will_paginate @articles, :class => 'pagination'