- stylesheet 'pagination'
- title t(:articles), false

.index
  - @articles.each do |article|
    .article
      %h1= link_to h(article.title), article
      .meta= article_metadata(article)
      .description= h(article.description)
      .read_more= link_to "Read more &rarr;", article

- content_for :pagination_controls do
  = will_paginate @articles, :class => 'pagination'