<% stylesheet 'pagination' %>
<% title t(:articles) %>

<% if @article = @articles.first %>
  <div class="jumbotron">
    <h1><%= @article.title %></h1>
    <p class="muted">Published: <%= time_ago_in_words(@article.published_on) %> ago <%= article_header_tags(@article) %> <%= comments_link_for_article(@article) %></p>
    <p class="lead"><%= @article.description || truncate(strip_tags(@article.body.to_html), :length => 300) %></p>
    <a class="btn btn-large btn-primary" href="<%= article_path(@article) %>">Read article »</a>
  </div>
  
  <hr/>
<% end %>

<% if @articles.any? %>
  <div class="row-fluid">
    <% @articles[1..@articles.length].each do |article| %>
      <div class="span12 article">
        <h2 class="article-title"><%= article.title %></h2>
        <p class="muted">Published: <%= time_ago_in_words(article.published_on) %> ago <%= article_header_tags(article) %> <%= comments_link_for_article(article) %></p>
        <div><%= truncate(strip_tags(article.body.to_html), :length => 300) %></div>
        <div class="control-group button">
          <a class="btn btn-default" href="<%= article_path(article) %>">Read article »</a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pagination pagination-centered">
    <%= paginate @articles %>
  </div>
<% end %>
