- title h(@article.title), false
- meta_description @article.description
- meta_keywords @article.tag_list

.article
  %h1= h(@article.title)
  .published= h(@article.created_at)
  .clear
  .body= @article.body.to_html

%h3= pluralize @article.comments.size, 'comment'
#comments= render :partial => 'comments/comment', :collection => @article.comments
- if article_eligible_for_comments?(@article)
  %h3= 'Leave a comment'
  %p= render 'comments/form', {:article => @article, :comment => @article.comments.build}
- else
  %p= "Commenting for this article is closed."
.back= link_to '&larr; Back to Articles', articles_path
  
- content_for :sidebar do
  - if @article.tags.any?
    %h3= "Tags for #{@article.title}"
    .tags= tag_links_for_article(@article)
  - if admin?
    %p.admin-links
      = link_to 'Edit', edit_article_path(@article), :id => "edit_article_#{@article.id}"
      = link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete, :id => "delete_article_#{@article.id}"