- title h(@article.title), false
- meta_description @article.description
- meta_keywords @article.tag_list

- content_for :recent_articles do
  #recent_articles
    %h3= "Recent Articles"
    %ul
      - @recent_articles.each do |article|
        %li
          = link_to article.title, article
          %span.date= article.created_at

.article
  %h1= h(@article.title)
  .clear
  .body= highlight(@article.body.to_html)

  .meta
    %h3= pluralize @article.comments.count, 'comment'
#comments= render :partial => 'comments/comment', :collection => @article.comments
- if article_eligible_for_comments?(@article)
  %h3.leave_comment= 'Leave a comment'
  %div= render 'comments/form', {:article => @article, :comment => @article.comments.build}
- else
  %div= "Comments are closed."
  
- content_for :sidebar do
  .article_meta
    %h3= "About this article"
    .author
      .image= image_tag website.gravatar_url
      .text
        = "Author"
        %br/
        = link_to website.owner_name, contact_path
    .clear
    .published= "Published #{@article.published_on}"
    .comments= link_to pluralize(@article.comments.count, 'comment'), '#comments'
    - if @article.tags.any?
      %h3.tagged= "Tagged"
      .tags= tag_links_for_article(@article)
  - if admin?
    %p.admin-links
      = link_to 'Edit', edit_article_path(@article), :id => "edit_article_#{@article.id}"
      = link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete, :id => "delete_article_#{@article.id}"