- title h(@article.title), false
- meta_description @article.description
- meta_keywords @article.tag_list

.article
  %h1= h(@article.title)
  .clear
  .body= @article.body.to_html

  .meta
    %h3= pluralize @article.comments.size, 'comment'
#comments= render :partial => 'comments/comment', :collection => @article.comments
- if article_eligible_for_comments?(@article)
  %h3.leave_comment= 'Leave a comment'
  %div= render 'comments/form', {:article => @article, :comment => @article.comments.build}
- else
  %div= "Comments are closed."
  
- content_for :sidebar do
  .article_meta
    %h3= "About this article"
    .author
      = "Author"
      %br/
      = link_to website.owner_name, contact_path
    .published= "Published #{@article.published_on}"
    .comments= link_to pluralize(@article.comments.size, 'comment'), '#comments'
    - if @article.tags.any?
      %h3.tags= "Tags for #{@article.title}"
      .tags= tag_links_for_article(@article)
  - if admin?
    %p.admin-links
      = link_to 'Edit', edit_article_path(@article), :id => "edit_article_#{@article.id}"
      = link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete, :id => "delete_article_#{@article.id}"