- form_for @page, :html => {:class => 'form'} do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :body
    %span= "Plain HTML only"
    %br
    = f.text_area :body, :class => 'big'
  %p
    = f.label :published
    %br
    = f.check_box :published
  %p
    = f.submit "Submit"
    = link_to "Cancel", @page, :class => 'cancel'