- title "Page"

%p= @page.body

- content_for :sidebar do
  - if admin?
    %p.admin-links
      = link_to "Edit", edit_page_path(@page), :id => "edit_page_#{@page.id}"
      = link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete, :id => "delete_page_#{@page.id}"