- form_for @project, :html => {:class => 'form'} do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %span= "Plain HTML only"
    %br
    = f.text_area :description
  %p
    = f.label :role
    %br
    = f.text_field :role
  %p
    = f.label :url
    %span= "e.g. http://www.company.com"
    %br
    = f.text_field :url
  %p
    = f.label :duration
    %br
    = f.text_field :duration
  %p
    = f.label :completed_on
    %br
    = f.date_select :completed_on
  - if !@project.new_record?
    %p= link_to 'Add Upload', new_upload_project_path(@project)
  %p
    = f.submit "Save"
    = link_to "Cancel", projects_path, :class => 'cancel'