- javascript 'jquery.easing.1.3', 'jquery.fancybox-1.3.4.pack', 'projects_show'
- stylesheet '/stylesheets/fancybox/jquery.fancybox.css'
- css_class('projects')
- title h(@project.name), false

.project
  %h1.title= @project.url.blank? ? @project.name : "#{@project.name} #{link_to "<span>#{t(:view_site)}</span>", @project.url}"
  .images
    = render :partial => 'images'

  .description= @project.description
  .role= "#{t(:project_role)}: <strong>#{@project.role}</strong>"
  .duration= "#{t(:project_duration)}: <strong>#{@project.duration}</strong>"

- if admin?
  %p.admin-links
    = link_to 'Edit', edit_project_path(@project), :id => "edit_project_#{@project.id}"
.back= link_to "&larr; #{t(:back_to_projects)}", projects_path