%h4= 'Existing tags'
%ul.tag-list
  - for tag in Tag.all
    %li= link_to tag.name, tag
    
- form_for @tag, :html => {:class => 'form'} do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.submit "Submit"
    = link_to "Cancel", @tag, :class => 'cancel'
