<% title "Tag" %>

<div><%= "Name: #{h @tag.name}" %></div>

<% content_for :sidebar do %>
  <p class='admin'>-links
    <%= link_to "Edit", edit_tag_path(@tag), :id => "edit_tag_#{@tag.id}" %>
    <%= link_to "Destroy", @tag, :confirm => 'Are you sure?', :method => :delete, :id => "delete_tag_#{@tag.id}" %>
  </p>
<% end %>

<div class='create'><%= link_to 'Create another', new_tag_path %></div>
<div class='back'><%= link_to "&larr; Back to tags", tags_path %></div>