- javascript 'edit_site', 'theme_switcher'
- form_for @site do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :tagline
    %br
    = f.text_field :tagline
  %p
    = f.label :owner_name
    %br
    = f.text_field :owner_name
  %p
    = f.label :owner_email
    %br
    = f.text_field :owner_email
  - unless website.nil?
    %h3= "Choose a theme"
    .themes
      %ul
        %li=link_to(image_tag('blue_thumbnail.png'), change_theme_site_path(:theme_name => 'blue'), :class => "theme", :title => 'blue')
        %li= link_to(image_tag('basic_thumbnail.png'), change_theme_site_path(:theme_name => 'basic'), :class => "theme", :title => 'basic')
    .clear
  #password
    %p
      = f.label :password
      %br
      = f.password_field :password
    %p
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
  .optional
  %h3= "Optional services"
  %p
    = f.label :flickr_username
    %br
    = f.text_field :flickr_username
  %p
    = f.label :twitter_username
    %br
    = f.text_field :twitter_username
  %p
    = f.submit "Submit"