- javascript 'edit_site', 'theme_switcher'

- form_for @site, :html => {:class => 'form'} do |f|
  = f.error_messages
  .left
    %p
      = f.label :name
      %br
      = f.text_field :name
    %p
      = f.label :tagline
      %br
      = f.text_field :tagline
    %p
      = f.label :owner_name
      %br
      = f.text_field :owner_name
    %p
      = f.label :owner_email
      %br
      = f.text_field :owner_email
    - if !@site.new_record?
      %p.quiet
        = "Disable article commenting after 3 months"
        = check_box_tag '', '', true, :disabled => true
      %p.quiet
        = "Send email to site owner for new comments"
        = check_box_tag '', '', true, :disabled => true
    - unless website.nil?
      %h3= "Choose a theme"
      .themes
        %ul
          %li
            =link_to(image_tag('blue_thumbnail.png'), change_theme_site_path(:theme_name => 'blue'), :class => "theme", :title => 'blue')
            .overlay{:style => 'display:none'}
              .progress
          %li
            = link_to(image_tag('scribbish_thumbnail.png'), change_theme_site_path(:theme_name => 'scribbish'), :class => "theme", :title => 'scribbish')
            .overlay{:style => 'display:none'}
              .progress
      
  .right
    .optional
      %p
        = f.label :flickr_username
        %span= "Optional"
        %br
        = f.text_field :flickr_username
      %p
        = f.label :google_analytics_code, 'Google Analytics'
        %span= "e.g. UA-14747133-1"
        %br
        = f.text_field :google_analytics_code
      %p
        = f.label :open_id_server, 'Open ID server address'
        %span= "e.g. www.myopenid.com/server"
        %br
        = f.text_field :open_id_server
      %p
        = f.label :open_id_delegate, 'Open ID delegate address'
        %span= "e.g. myaccount.myopenid.com/"
        %br
        = f.text_field :open_id_delegate
    #password
      %p
        = f.label :password
        %br
        = f.password_field :password
      %p
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation
  .clear
  %p
    = f.submit "Submit"