- title "Create your site"

.instructions
  %h2= "Just a few things to get started!"
  %p= "Rehash is a personal publishing application with an emphasis on simplicity and well-tested code."
  %ol
    %li= "Fill-in your website details on the left"
    %li= "Your website is created and you will be logged in with your site password"
    %li= "Use the admin navigation at the top to begin creating articles, pages, and projects!"

- if show_title?
  %h1=h yield(:title)

= render :partial => 'form'