- javascript 'form_submit_button'
%h2= "Contact #{website.owner_name}"
%p.required= "All fields are required."
.contact_form
  - form_tag create_contact_form_email_path, :class => 'form' do
    %p
      = label_tag :sender_name, 'Your Name'
      %br
      = text_field_tag :sender_name
    %p
      = label_tag :email
      %br
      = text_field_tag :email
    %p
      = label_tag :message
      %br
      = text_area_tag :message
    %p
      = submit_tag "Send Message", :id => 'form_submit_button'