<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta content='<%= yield(:meta_description) %>' name='description' />
    <meta content='<%= yield(:meta_keywords) %>' name='keywords' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'bootstrap.min', 'bootstrap-responsive.min', 'application', 'syntax_highlight' %>
  </head>
  <body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><%= link_to t(:contact), new_contact_form_path %></li>
        </ul>
        <h3 class="muted"><%= link_to ENV['TITLE'], root_path %></h3>
      </div>
      
      <hr/>
      
      <% if flash[:notice] %>
        <div class="alert"><%= flash[:notice] %></div>
      <% elsif flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] %></div>
      <% end %>
      
      <%= yield %>

      <div class="footer">
        <p>&copy; <%= ENV['OWNER'] %> &mdash; <%= link_to 'RSS Feed', feed_path %></p>
      </div>
    
    </div> <!-- /container -->
    
    <% if ENV['GOOGLE_ANALYTICS_CODE'].present? %>
      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= ENV['GOOGLE_ANALYTICS_CODE'] %>']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <% end %>
  </body>
</html>
