<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{website.name} - #{h(yield(:title))}" %></title>
    <meta content='<%= yield(:meta_description) %>' name='description' />
    <meta content='<%= yield(:meta_keywords) %>' name='keywords' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'bootstrap.min', 'bootstrap-responsive.min', 'application', 'syntax_highlight' %>
  </head>
  <body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><%= link_to(t(:projects), projects_path) if Project.all.any? %></li>
          <% for page in Page.released %>
            <li><%= link_to page.name, page_slug_path(page) %></li>
          <% end %>
          <li><%= link_to t(:contact), contact_path %></li>
        </ul>
        <h3 class="muted"><%= link_to website.name, root_path %></h3>
      </div>
      
      <hr/>
      
      <% if flash[:notice] %>
        <div class="alert"><%= flash[:notice] %></div>
      <% elsif flash[:error] %>
        <div class="alert alert-error"><%= flash[:notice] %></div>
      <% end %>
      
      <%= yield %>

      <div class="footer">
        <p>&copy; <%= website.owner_name %></p>
      </div>
    
    </div> <!-- /container -->
    
    <%= javascript_include_tag 'jquery-1.5.1.min', 'application' %>
    <% if website.google_analytics_code.present? %>
      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= website.google_analytics_code %>']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <% end %>
  </body>
</html>