!!! Strict
%html{html_attrs}
  
  %head
    %title= "Create your site"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', 'create_site'
  
  %body
    #wrapper
      #container
        #main
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          = yield